*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: #699cdf;
    text-align: center;
    font-size: 16px;
    color: #fff;
    padding: 10px 0px;
    position: relative;
}	

section{
	background-color: #3bc0f4;
    ;
	font-size:20px;
    position: relative;
    text-align: center;
    padding: 20px 0px;
}

    article{
        width: 90%;
        margin: 0 auto;
    }

        legend{
            text-align: left;
            font-weight: bold;
            font-size: 22px;
            margin-left: 20px;
            color: #204956;
        }

        #receptor, #cuerpo{
            margin: 20px auto;
        }

        input{
            width: 250px;
            height: 40px;
            font-size: 18px;
            padding: 10px;
        }

        button{
            width: 150px;
            height: 35px;
            border-radius: 20px;
            background-color: #1bb428;
            color: #fff;
            font-size: 16px;
            display: block;
            margin: 10px auto;
        }

        button:active{
            background-color: #fff;
            color: #1bb428;
        }

footer{
    background-color: #204956;
}


/*-------------------------------------------------------------------------*/
    /*  Receptor */
        .datos-receptor{
            margin: 15px 0px 15px 30px;
        }

        #titulo-conceptos{
            margin: 0 auto;
            width: 300px;
            text-align: center;
        }

        .titulo-conceptos{
            display: block;
        }

        .quitar-titulo-conceptos{
            display: none;
        }

        #titulo-conceptos > input{
            width: 70px;
            text-align: center;
            margin: 0 auto;
        }

      
    /* Conceptos */

    #conceptos label{
        display: inline-block;
        text-align: left;
        padding: 10px 20px;
    }

    #conceptos input{
        display: block;
    }
    #conceptos div{
        margin: 10px;
        display: block;
		border-radius: 10px 0px;
		border: 2px dashed #0d2b23;
		color: #000504;
		box-shadow: 0px 0px 15px  #FFE459;
		text-align: center;
    }
    #ticket div{
        margin: 10px;
        display: block;
		color: #000504;
		border-radius: none;
		border: none;
		box-shadow: none;
        
    }
    #cuerpo input[type="number"]{
        text-align: right;
        width: 150px;
    }
    
    #descripcion{
        width:400px;
    }

    .agregar{
        margin: 10px;
        margin-left: auto;
        display: none;
    }

    .mostrar-agregar{
        display: block;
    }
    .ticket{
        margin: 10px;
        margin-left: auto;
        display: none;
    }
    .mostrar-ticket{
        background-color:Yellow;
        display: block;
        color:black;
    }


    /*Totales */


    table, th, td{
        border-bottom: 1px solid #204956;
        border-collapse: collapse;
        text-align: left;
        padding-top: 10px;
    }

    td{
        width: 150px;
    }
    aside{
        text-align: left;
    }
h1{
    border-bottom: 1px solid #204956;    
}
h3{
    display: inline-block;
}
#todo{
    border: solid 4px #f00;
    border-radius: 10px 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 15px #ff0;
    text-align: center;
}



